*{-webkit-overflow-scrolling: touch;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #333333 !important;
}

input,
button{
    border-radius: 0;
}

textarea,
input,
button,
a{
    -webkit-appearance: none;
    outline: none;
}

body{
    margin: 0;
}

p,
u,
a,
b,
h6,
span,
blockquote{
    font-style: normal;
    font-size: 12pt;
    margin: 0;
    text-decoration: none;
    color: #333333;
    letter-spacing: 1.6pt;
    margin: 0 0 16px;
}

b{
    font-weight: 600;
}

u{
    text-decoration: none;
    border-bottom: 1px dotted #333333;
    cursor: pointer;
}

u:hover{
    text-decoration: none;
    border-bottom: 1px solid #333333;
}

u > a{
    text-decoration: none;
    color: #333333;
}

blockquote{
    margin: 16px 0;
    padding: 0 0 0 16px;
    border-left: 1px solid #333333;
    font-style: italic;
}

h1{
    font-weight: 700;
    font-style: normal;
    font-size: 48pt;
    margin: 0 0 32px;
}

h2{
    font-weight: 700;
    font-style: normal;
    font-size: 30pt;
    margin: 0 0 32px;
}

h3{
    font-weight: 700;
    font-style: normal;
    font-size: 24pt;
    margin: 0 0 24px;
}

h5{
    font-weight: 700;
    font-style: normal;
    font-size: 19pt;
    margin: 0 0 24px;
}

h6{
    font-weight: 600;
    font-size: 13pt;
    letter-spacing: 1.2pt;
    margin: 0 0 16px;
}

pre{
    margin: 0;
    white-space: pre-wrap;
    color: #333333;
}

img{
    width: 80%;
    margin: 16px 0;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    width: 296px;
    padding: 16px;
    box-sizing: border-box;
    background-color: #0000DD;
}

header *{
    color: #ffffff;
}

header u{
    border-bottom: dotted 1px #ffffff;
}

header u:hover{
    border-bottom: solid 1px #ffffff;
}

header u > a{
    color: #ffffff;

}

.logoBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    margin: 0 0 32px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.logoBar:hover{
    opacity: 0.8;
}

.logoBar > img{
    width: 64px;
    padding: 0 16px 0 0;
    margin: 0 16px 0 0;
    border-right: 2px solid #ffffff;
    box-sizing: border-box;
    flex-shrink: 0;
}

.logoBar > h5{
    margin: 0;
    line-height: 1.2;
    font-weight: 500;
}

.userBar{
    width: 100%;
    height: auto;
    margin: 0 0 32px;
    padding: 8px 16px;
    box-sizing: border-box;
    border: #ffffff 1px solid;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.userBar:hover{
    background-color: #ffffff;
}

.userBar > p{
    margin: 0;
}

.userBar:hover *{
    color: #333333;
    transition: all 0.2s ease-in;
}

.mainBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%
}

.menuButton{
    position: relative;
    display: none;
    width: 42px;
    height: 42px;
    border: 0;
    cursor: pointer;
}

.menuButton > div{
    position: absolute;
    top: 8px;
    height: 2px;
    width: 36px;
    background-color: #ffffff;
    border-radius: 2px;
    transition: all 0.2s ease-in;
}

.menuButton > div:nth-child(2){
    top: 21px;
}

.menuButton > div:nth-child(3){
    top: 34px;
}

.menuBar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box
}

.menuBar > a{
    padding: 0 0 0 16px;
}

.workSpace{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 296px);
    height: 100vh;
}

.logSpace{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    overflow-y: auto;
    flex-shrink: 2;
}

.msgIn,
.msgOut{
    width: auto;
    max-width: 60%;
    border-bottom: 1px solid #CCCCCC;
    margin: 0 0 32px;
}

.msgIn > div:first-child,
.msgOut > div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.msgIn > div:first-child > p,
.msgOut > div:first-child > p{
    font-size: 10pt;
    margin: 0 0 8px;
    color: #A5A5A5;
}

.msgIn > div:first-child > p:first-child,
.msgOut > div:first-child > p:first-child{
    margin: 0 16px 8px 0;
}

.msgIn{
    align-self: flex-start;
}

.msgOut{
    align-self: flex-end;
}

.controlsPanel{
    width: 100%;
    height: auto;
    min-height: 64px;
    padding: 16px 16px 0 16px;
    box-sizing: border-box;
    background-color: #F2F2F2;
    overflow-y: auto;
    flex-shrink: 0;
}

.controlButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.controlButtons > p{
    width: auto;
    height: auto;
    padding: 4px 8px;
    margin: 0 8px 8px 0;
    box-sizing: border-box;
    border-radius: 24px;
    border: solid 1px #333333;
    cursor: pointer;
    letter-spacing: 0;
    transition: all 0.2s ease-in;
}

.controlButtons > p:hover{
    background-color: #333333;
    color: #ffffff;
}

.controlButtons > .controlsConfirm{
    border: solid 1px #279107;
    background-color: #279107;
    color: #ffffff;
}

.controlButtons > .controlsCancel{
    border: solid 1px #E35C17;
    background-color: #E35C17;
    color: #ffffff;
}

.controlButtons > .controlsConfirm:hover{
    background-color: #279107;
    opacity: 0.8;
}

.controlButtons > .controlsCancel:hover{
    background-color: #E35C17;
    opacity: 0.8;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 296px);
    height: 100vh;
    padding: 16px;
}

.buttonV{
    width: auto;
    min-width: 96px;
    height: auto;
    min-height: 42px;
    padding: 8px 16px;
    margin: 0;
    box-sizing: border-box;
    background-color: #0000DD;
    border: 1px solid #0000DD;
    color: #ffffff;
    box-sizing: border-box;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    letter-spacing: 1.2pt;
    line-height: 1.2;
    cursor: pointer;
    transition: all 0.2s ease-in;
    flex-shrink: 0;
    border-radius: 4px;
}

.buttonV:hover{
    background-color: #0F0F91;
    transition: all 0.2s ease-in;
}

form{
    width: 40%;
    min-width: 280px;
}

.inputTxt{
    width: 100%;
    max-width: 640px;
    min-height: 42px;
    padding: 0 0 0 16px;
    margin: 0;
    border: 0;
    border: 1px solid #333333;
    box-sizing: border-box;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    letter-spacing: 1.2pt;
    line-height: 1.2;
    resize: vertical;
    background-color: #ffffff;
    border-radius: 4px;
}

.messageBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.messageBar > .inputTxt{
    margin: 0 16px 16px 0;
    padding: 8px;
}

.messageBar > .buttonV{
    margin: 0 0 16px;
}

.userIssues{
    width: calc(100% - 296px);
    height: 100vh;
    background-color: #F2F2F2;
    padding: 16px;
    box-sizing: border-box;
}

.issuesPanel{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.issueCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    width: 256px;
    height: auto;
    padding: 16px;
    margin: 0 16px 16px 0;
    border: 1px solid #333333;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.issueCard:hover{
    opacity: 0.8;
}

.issueCard > div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 16px;
}

.issueCard > div > p,
.issueCard > div > b{
    margin: 0;
}

.issueCard > div:first-child > p:last-child{
    color: #A5A5A5;
}

.issueCard > div > h5{
    margin: 0 0 16px;
}

.issueCard > div:last-child{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0 0;
    margin: 16px 0 0;
    box-sizing: border-box;
    border-top: 1px solid #333333;
}

.issueCard > div:last-child > div{
    width: 8px;
    height: 8px;
    border-radius: 8px;
    border: 2px #333333 solid;
    margin: 0 16px 0 0;
}

.issueCard > div:last-child > .isSuccessMark{
    border: 2px #279107 solid;
    background-color: #279107;
}

.issueCard > div:last-child > .isFailMark{
    border: 2px #E35C17 solid;
    background-color: #E35C17;
}


footer{

}

@media all and (max-width: 1024px){

    p,
    a,
    u,
    b,
    h6,
    blockquote,
    .article{
        font-size: 10pt;
        margin: 0 0 12px;
    }

    h2{
        font-size: 20pt;
        margin: 0 0 24px;
    }

    h3{
        font-size: 17pt;
        margin: 0 0 16px;
    }

    h5{
        font-size: 14pt;
        margin: 0 0 16px;
    }

    h6{
        font-size: 11pt;
    }

    .content{
        flex-direction: column;
    }

    header{
        position: fixed;
        top: 0;
        left: 0;
        height: auto;
        min-height: 48px;
        width: 100%;
        padding: 8px;
    }

    .logoBar{
        margin: 0;
    }

    .logoBar > img{
        height: 42px;
    }

    .userBar,
    .menuBar{
        display: none;
        margin: 0 0 24px;
    }

    .userBar{
        margin: 24px 0;
    }

    .menuButton{
        display: block;
    }

    .workSpace,
    .userIssues,
    .wrapper{
        width: 100%;
        height: calc(100vh - 60px);
        margin: 60px 0 0;
    }

    .msgIn,
    .msgOut{
        max-width: 80%;
    }

    .msgIn > div:first-child > p,
    .msgOut > div:first-child > p{
        font-size: 8pt;
        margin: 0 0 6px;
    }

    .inputTxt{
        font-size: 10pt;
    }

    .buttonV{
        min-height: 36px;
        font-size: 10pt;
    }

    .messageBar > .inputTxt{
        margin: 0 0 16px;
        padding: 4px 6px;
    }
}